<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1> Lista Prenotazioni </h1>

    </div>
  </div>
</div>
<div clas="table-responsive">
<table class="table" >
  <thead>
    <tr>

        <td><h4>Nome </h4></td>


      <td><h4>Data</h4> </td>
      <td> <h4>Giorno</h4>  </td>
      <td> <h4>Ora</h4>  </td>

    </tr>
  </thead>

  <tbody>
    <% @prenotaziones.each do |prenotazione| %>
      <tr>
        <td> <%= prenotazione.nome %> </td>

        <td> <%= prenotazione.Pdata %>  </td>
         <td> <%= prenotazione.Pgiorno %> </td>
        <td> <%= prenotazione.Pora %>  </td>
        <td> <%= link_to 'Show', prenotazione %>  </td>
        <td> <%= link_to 'Edit', edit_prenotazione_path(prenotazione) %>  </td>
        <td> <%= link_to 'Destroy', prenotazione, method: :delete, data: { confirm: 'Are you sure?' } %>  </td>


<!--
        <td><%= prenotazione.nome %></td>

        <td><%= prenotazione.Pdata %></td>
        <td><%= prenotazione.Pgiorno %></td>
        <td><%= prenotazione.Pora %></td>-->



      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to 'New Prenotazione', new_prenotazione_path %></button>


