<p id="notice"><%= notice %></p>

<p>
  <strong>Nomecampo:</strong>
  <%= @campi.nomecampo %>
</p>

<p>
  <strong>Tipocampo:</strong>
  <%= @campi.tipocampo %>
</p>

<%= link_to 'Edit', edit_campi_path(@campi) %> |
<%= link_to 'Back', campis_path %>
